{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Agregar Insumos al Remito: {{ remito.numero_remito }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Agregar Insumo</button>
    </form>
    <hr>
    <h3>Insumos del Remito</h3>
    <ul>
        {% for remito_insumo in remito.remitoinsumo_set.all %}
        <li>{{ remito_insumo.insumo.nombre }}: {{ remito_insumo.cantidad }} unidades</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
