{% extends 'base.html' %}
{% block title %}Crear Insumo | Ruralis{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Crear Insumo</h2>
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            {{ insumo_form.nombre }}
        </div>
        
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            {{ insumo_form.descripcion }}
        </div>
        
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            {{ insumo_form.precio }}
        </div>
        
        <div class="mb-3">
            <label for="unidad" class="form-label">Unidad</label>
            {{ insumo_form.unidad }}
        </div>

        <button type="submit" class="btn btn-success">Guardar Insumo</button>
    </form>
</div>
{% endblock %}

